.searchItem {
	font-weight: 600;
	font-size: 18px;
	width: 560px;
	height: 20px;
	margin: 20px auto;
	margin-bottom: 10px;
	padding: 10px;
	background-color: #fafafa;
	border: 1px solid #ddd;
	border-radius: 10px;
}
.searchItem:focus {
	outline: none;
	background-color: #ffffff;
}
